@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.root{
  min-height:100vh ;
  width: 100vw;
  padding: 0;
}
.wrapper{
  background-color: #15202B;
  padding-bottom: .8rem;

}





header h1{
  background: linear-gradient(
    to right, 
    #f32170,
    #ff6b08,
    #cf23cf,
    #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.fa-quote-right{
  color: rgb(177, 177, 177);
  opacity: 0.6;
  transform: scale(1.5);
  transform: translateX(1rem);
}
input,textarea{
  background-color: transparent;
  height: 3rem;
  font-size: 1.2rem;
  border-top:none;
  border-left: none;
  border-right: none;
  font-weight: 400;
  font-style: italic;

}
label{
  color: white;
}
textarea{
  color: white;
  resize: none;
  overflow: hidden;

}
textarea::placeholder{
    padding: 10px;
    color: rgb(194, 194, 194);
  }
input, textarea:focus{
  outline: none;
}
input::placeholder, input{
  padding: 10px;
  color: rgb(194, 194, 194);
}
@media screen and (min-width: 49rem) {
  .wrapper{
    width: 35vw;
  }

  .root .quoteDetail {
  flex-wrap: wrap;
  width: 60vw;
  }
  form{
    padding: 2rem;
  }
  
}



