@import 'bootstrap/dist/css/bootstrap.min.css';

.wrapper{
  max-height: 48rem;
  background-color: white;
  border-radius:  2rem .25rem 2rem .25rem;

}
form{
  padding-bottom: 2rem;
}
.fa-quote-right{
  color: rgb(177, 177, 177);
  opacity: 0.6;
  transform: scale(1.5);
}
input{
  height: 3rem;
  font-size: 1.2rem;
  border-top:none;
  border-left: none;
  border-right: none;
  font-weight: 400;
  font-style: italic;

}
input:focus{
  outline: none;
}
input::placeholder, input{
  padding: 10px;
}


@media screen and (min-width: 48rem) {
  .wrapper{
    width: 30rem;

  }

}