<section>
<!-- header -->
  <header class="text-center" style="color: white;">
    <h1 class="container" >QuoteApp</h1>
  </header>
 
  <div class="root container d-flex flex-column flex-lg-row ">
      <div class="wrapper shadow-lg rounded ">
        <h4 class="text-center pt-2">Form</h4>
        <i class="fas fa-quote-right position-abolute"></i>
    <!-- form section -->
        <form class="container d-flex flex-column gap-4 ">
          <input type="text" name="Authorname"  placeholder="Author Name..." [(ngModel)]='author'>  
          <input type="text" name="name"  placeholder="Your Name..." [(ngModel)]='name' > 
          <textarea type="text" name="message" placeholder="Write your Quote Here..." [(ngModel)]='quote' ></textarea>
          <button class="btn btn-success shadow"  (click) ='sendBtn()'>Send</button>
         
        </form>
      </div>

      
      <div class="quoteCard p-3  "  id="quoteCard" *ngFor = 'let q of quotes'>
          <p>{{q.quote}}</p>        
        <!-- like and dislike btns -->
        <div class="likeOrDislike col">
          <p class="btn btn-success "><i class="far fa-thumbs-up">  </i></p>
          <p class="btn btn-danger "><i class="far fa-thumbs-down ">  </i></p>
        </div>
        <!-- author and publisher -->
        <div>
          <span>Publisher Name: {{q.name}}</span>
          <span><i> Auhor Name: {{q.author}}</i></span><br>

           <section class="timePlusBin d-flex justify-content-between">
            <i class="fas fa-trash-alt" ></i>  <!--(click) ='removeCard()' -->
           </section>
        </div>
    
      </div>
    
    
    <!-- quote-detail component -->
      <app-quote-detail [author] ='author' [name] ='name' [quote] ='quote'></app-quote-detail>
    
    </div>
</section>








