<section>
  <div class="root container-fluid d-flex flex-column flex-lg-row w-100 ">

      <div class="wrapper shadow-lg  ">
        <header class="text-center" style="color: white;">
          <h1 class="container p-2" data-aos ='fade-down' data-aos-duration="4500">QuoteApp</h1>
        </header>

        <i class="fas fa-quote-right"></i>
        <form class="container-fluid d-flex flex-column gap-4 text-center ">
          <label for=""><u>Author</u></label>
          <input type="text" name="Authorname"  placeholder="Author Name..." [(ngModel)]='author'data-aos="zoom-down"  data-aos-duration="3500">  
          <label for=""><u>Publisher</u></label>
          <input type="text" name="name"  placeholder="Your Name..." [(ngModel)]='name' data-aos="zoom-down"  data-aos-duration="3500"> 
          <label for=""><u>Quote</u></label>
          <textarea type="text" name="message" placeholder="Write your Quote Here..." [(ngModel)]='quote'data-aos="zoom-down"  data-aos-duration="3500" ></textarea>
          <button class="btn btn-success shadow" (click) ='sendBtn()'>Send</button>
          
        </form>
      </div>
    <section class="quoteDetail d-flex flex-column flex-lg-row gap-5 mx-4 pt-5 ">
      <div *ngFor ='let q of quotes' class="bg-body">
        <app-quote-detail [author] ='author' [name] ='name' [quote] ='quote' [quotes] = 'q'></app-quote-detail>
      </div>
    </section>
     
      
    
    </div>
</section>








