@import 'bootstrap/dist/css/bootstrap.min.css';

.quoteDetail{
  width: 35vw;
  height: 25rem;
  background-color: white;
  overflow-y: scroll;
  padding: 1.2rem;
  margin: auto;

}
.time{
  font-weight: 100;
  font-style: italic;
}

.likeOrDislike{
  display: flex;
  padding-top: 5px;
  gap: 2rem;
}