@import 'bootstrap/dist/css/bootstrap.min.css';

.likeOrDislike{
  display: flex;
  padding-top: 5px;
  gap: 2rem;
}
 span{
  display: flex;
  flex-direction: column;
}

.fa-trash-alt{
  color: #DC3545;
  justify-content: space-between;
}
img{
  border: 2px solid red;
}

/* Big screens above 49rem */
@media screen and (min-width: 49rem) {
  .root{
   
    gap: 0;
  }
 


.quoteCard{
  width: 15.5rem;
  height: 16.5rem;
 }

 input{
   color: white !important;
 }



}