<!-- <div class="quoteDetail rounded " style="color: black; letter-spacing: 1.5px;">
  <div class="quoteCard p-3  "  id="quoteCard">
    <p>"i Pray for Your Wellbeing"</p>        
  <div class="likeOrDislike col">
    <p class="btn btn-success "><i class="far fa-thumbs-up">  </i></p>
    <p class="btn btn-danger "><i class="far fa-thumbs-down ">  </i></p>
  </div>
  <div>
    <span>Publisher Name: Alex</span>
    <span><i> Auhor Name: Evans Kidero</i></span><br>

     <section class="timePlusBin d-flex justify-content-between">
       <i>written at 03:34 am</i>
      <i class="fas fa-trash-alt" ></i>
     </section>
  </div>
 -->
